<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>StringsTable</key>
        <string>Root</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Delete completed activities</string>
                <key>Key</key>
                <string>delete_completed_activities</string>
                <key>DefaultValue</key>
                <true/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>Break Length</string>
                <key>Key</key>
                <string>break_length</string>
                <key>DefaultValue</key>
                <string>5</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>Pomo Length</string>
                <key>Key</key>
                <string>pomo_length</string>
                <key>DefaultValue</key>
                <string>25</string>
                <key>KeyboardType</key>
                <string>NumberPad</string>
            </dict>
        </array>
        <key>ApplicationGroupContainerIdentifier</key>
        <string>group.com.corgitoergosum.KTPomodoro</string>
    </dict>
</plist>
